* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

form {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr min-content;
	grid-gap: 0.5em;
	padding: 0.5em;
}

textarea {
	width: 100%;
	resize: none;
}

button {
	padding: 0.5em 2em;
	justify-self: end;
}
